{
  "switch_status": {
    "pumpTower": true,
    "light1ACold": true,
    "light1AWarm": true,
    "light2ACold": true,
    "light2AWarm": true,
    "light1DCold": true,
    "light1DWarm": true,
    "light2DCold": true,
    "light2DWarm": true,
    "light1T": true,
    "light2T": true
  }
}